@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
}

@page {
    size: auto;
    margin: 0mm;
}