server:
  port: 8888

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: identity_service
          uri: http://localhost:8081
          predicates:
            - Path=/identity/**
        - id: user_service
          uri: http://localhost:8082
          predicates:
            - Path=/profile/users/**